<h1 id=all-articles-title>All Articles</h1>
<%= link_to  "New Article", new_article_path %>
<ul class='article-info article-info-title'>
    <li>#</li>
    <li>Created On:</li>
    <li>Title:</li>
    <li>Preview:</li>
    <li></li>
    <li></li>
    <li></li>
    <li>Comments:</li>
</ul>
<% @articles.each_with_index do |article, idx| %>
    <ul class='article-info'>
        <li><%= "#{idx + 1}" %></li>
        <li><em><%= article.created_at.localtime %></em></li>
        <li><%= article.title %></li>
        <li><%= "#{article.text.split(' ')[0, 10].join(' ')} ... " %></li>
        <li><%= link_to 'Show', article_path(article) %></li>
        <li> <%= link_to  "Edit", edit_article_path(article) %></li>
        <li> <%= link_to    "Delete", article_path(article),
                            method: :delete,
                            data: { confirm: "Are you sure?" } %></li>
        <li> <%= article.comments.length %>
    </ul>
<% end %>
